
/* Manual input container for custom number of participants */
.manual-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.manual-input-container label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.manual-input-container input {
    width: 80%;
    /* padding: 10px; */
    /* font-size: 1em; */
    /* border-radius: 8px; */
    /* border: 1px solid #ccc; */
    text-align: center;
}

.manual-input-container input:focus {
  outline: none;
  border-color: #FF5722;
  box-shadow: 0 0 5px rgba(252, 163, 17, 0.5);
}

/* Error message styling */
.error-message {
  color: #D32F2F;
  font-size: 1em;
  margin-top: 5px;
}

.or-divider{
  font-size: 2em;
  font-weight: bold;
  padding: 15px;
}
