#root {
  width: 100%;
}
body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  padding: 20px;
}

.main-content {
  padding: 20px;
  flex: 2;
  /* margin: auto */
}

.PlayerList {
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-left: 2px solid #ccc;
  height: 100vh;
  overflow-y: auto;
  color: black
}

input {
  padding: 10px;
  margin: 5px;
  width: 100%;
  max-width: 300px;
}



.team h3 {
  color: #007bff;
}

.match h3 {
  color: #28a745;
}

.match-result h3 {
  color: #d9534f;
}

.match .scores input {
  width: 50px;
  text-align: center;
}
.titleHolder{
  padding: 10px 0;
}
.titleHolder h1{
  margin-bottom: 0;
}
.titleHolder p{
  margin-top: 0;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    padding: 10px;
  }
  .main-content {
    margin:0;
    padding: 20px 0;
  }
  .PlayerList {
    flex: unset;
    width: 100%;
    height: auto;
    padding: 20px;
    border-left: none;
    margin-top: 20px;
    box-sizing: border-box;
  }
  input {
    width: 100%; /* Make inputs take full width of their container */
    box-sizing: border-box; /* Ensure padding and borders are included in the input width */
    padding: 10px;
    margin: 5px 0; 
  }
  form {
    width: 100%;
    max-width: 100%; /* Ensure the form doesn't exceed the width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }

}