.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Ensure the App takes full height */
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 50px); */
  width: 100vw;
  padding: 0 20px; /* Added horizontal padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in total width */
}

.action-btn {
  background-color: #f57c00; /* Dark blue for action buttons */
  color: #ffffff; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  transition:
    background-color 0.25s,
    transform 0.1s; /* Smooth transition for background color and scale */
  border-radius: 4px 4px 0px 0; /* Rounded corners for buttons */
  font-weight: bold;
  font-size: 1.5em;
  padding: 12px;
}

.action-btn:hover {
  background-color: #ffffff; /* Change background on hover */
  color: #fca311; /* Change text color on hover */
  transform: scale(1.05); /* Slightly scale up on hover for a better visual cue */
}

.PlayerList {
  flex: 1;
  background-color: #ffffff; /* White background for PlayerList */
  padding: 20px;
  border-left: 2px solid #ccc; /* Light gray border */
  height: 100vh;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  color: #000000; /* Black text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.team h3 {
  color: #14213d; /* Dark blue for team headings */
  font-weight: bold; /* Bold team headings */
}

.match h3 {
  color: #28a745; /* Green for match headings */
  font-weight: bold; /* Bold match headings */
}

.match-result h3 {
  color: #d9534f; /* Red for match results */
  font-weight: bold; /* Bold match result headings */
}

.match .scores input {
  width: 50px;
  text-align: center;
  margin: 5px; /* Added margin for spacing between inputs */
  padding: 8px; /* Added padding for comfort */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #e5e5e5; /* Light gray border for scores */
}

.titleHolder {
  padding: 10px 0 0 0; /* Increased padding for better spacing */
  /* min-height: 120px; */
  text-align: center; /* Center align title holder content */
}

.titleHolder h1 {
  margin: 0; /* Remove bottom margin */
  color: #000000; /* Black for main title */
  font-size: 2.5em; /* Increased font size for emphasis */
}

.titleHolder p {
  margin-top: 10px; /* Added margin to separate from title */
}

/* Ensure the back button is aligned to the left and title is centered */
.title-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Allows the back button to be positioned without disrupting the centering */
}

.back-button {
  position: absolute;
  left: 0; /* Aligns the back button to the left */
  cursor: pointer;
}

.centered-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

/* Medium devices (tablets, 768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
}
