/* Color Palette
   Black: #000000
   Dark Blue: #14213D
   Orange: #FCA311
   Light Gray: #E5E5E5
   White: #FFFFFF 
*/

 

:root {
  /* General Styles */
  --color-black: #000000;
  --color-dark-blue: #14213D;
  --color-orange: #FCA311;
  --color-light-gray: #E5E5E5;
  --color-white: #FFFFFF;
  
  /* Font Styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-black);
  background-color: var(--color-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-dark-blue);
}

a {
  font-weight: 500;
  color: var(--color-orange);
  text-decoration: none; /* Set to none for cleaner styling */
}

a:hover {
  color: var(--color-dark-blue);
}

ul {
  padding: 0;
  margin: 0;
}
button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-orange);
}

button:focus, button:focus-visible {
  outline: 2px solid #FCA311;
}

button.secondary {
  background-color: var(--color-white);
  color: var(--color-black);
}

button.secondary:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

input {
  padding: 10px;
  width: 100%;
  background-color: #F7F7F7; /* Light gray background for inputs */
  color: #000000; /* Black text for contrast */
  border: 1px solid #E5E5E5; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  outline: none; /* Remove default focus outline */
  box-sizing: border-box;
  font-size: 1em;
}
input:focus-visible {
  border: 2px solid var(--color-orange);
}
.container {
  box-sizing: border-box;
  padding: 15px;
}

 


/* Add responsiveness */
@media (max-width: 350px) {
  input {
    font-size: 1em;
    width: 100%; 
    box-sizing: border-box; 
    padding: 12px; /* Consistent padding */
    margin: 10px 0; /* Consistent margin */
    border: 1px solid #FCA311; /* Dark blue border */
    border-radius: 4px; /* Rounded corners */
  }
  
  form {
    width: 100%;
    max-width: 100%; /* Ensure the form doesn't exceed the width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }
}