.custom-tabs {
  display: flex;
  border-bottom: 2px solid #E5E5E5; /* Light gray border for the tab container */
}

.custom-tabs-item {
  flex: 1;
  border: 1px solid #E5E5E5; /* Lighter gray border for each tab */
  text-align: center;
  padding: 12px 20px; /* Increased padding for better touch targets */
  cursor: pointer;
  background-color: #FAFAFA; /* Soft light grey background for tabs */
  transition: background-color 0.2s, border 0.2s, color 0.2s; /* Added color transition */
  border-radius: 5px 5px 0 0; /* Rounded top corners for tabs */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.custom-tabs-item:hover {
  background-color: #FCA311; /* Orange on hover */
  color: #FFFFFF; /* Change text color on hover */
}

.custom-tabs-item.active {
  background-color: #FFFFFF; /* White background for active tab */
  border-bottom: 2px solid #FCA311; /* Orange underline for active tab */
  font-weight: bold; /* Bold text for active tab */
  color: #14213D; /* Dark blue text for active tab */
}

.match-team {
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
  display: flex;
  padding: 12px; /* Increased padding for better spacing */
  border-radius: 4px; /* Increased border-radius for a smoother look */
  transition: background-color 0.3s; /* Smoother background transition */
  border: 1px solid transparent; /* Add a transparent border for consistent sizing */
}

.match-team.active {
  background-color: #F7F7F7; /* Softer light grey for active matches */
  border: 1px solid #E5E5E5;
}

.match-team:not(.active) {
  background-color: #FFFFFF; /* White for inactive matches */
}

.match-team:not(.active) .team-name, 
.match-team:not(.active) .player-name, 
.match-team:not(.active) .bold-text,
.match-team:not(.active) .status-icon{
  color: #999; /* Dim color for inactive players */
}

.flex-row {
  display: flex;
  align-items: center;
}

.bold-text{
  font-weight: bolder;
  color: #14213D;
  font-size: larger;
}

.icon-inactive {
  color: #999; /* Dim color for inactive icons */
}

.long-list {
  max-height: 100vh; /* Maximum height for scrollable list */
  overflow: auto; /* Enable scrolling */
  padding: 0; /* Reset padding for the list */
  list-style-type: none; /* Remove default list styling */
}

.status-icon {
  cursor: pointer; /* Show pointer on hover */
  color: #14213D; /* Orange color for active status */
  transition: transform 0.2s, color 0.2s; /* Smooth zoom and color transition on hover */
}

.status-icon:hover {
  transform: scale(1.2); /* Zoom effect on hover */
  color: #1A315F; /* Dark blue on hover */
}
